/* This is just to make it look different from 404 */
html {
   
    background-repeat: repeat;
    background-size: 2lh;
    background-attachment: fixed;
    color: black;
    background-color: white;
}
