{% extends "!simple/page.html" %}

{% block content %}
{{ super () }}
<hr>
<footer>
  <address>
    <ul>
      <li>Dr Abdul Ali Bangash, Department of Computer Science, LUMS</li>
      <li>Dr Suleman Shahid, Department of Computer Science, LUMS</li>
      <li>Safa Salam, Department of Computer Science, LUMS</li>
    </ul>

    <p class="footer-ack">
      Course materials adapted from work by
      Dr. Hazel Campbell, Dr. Abram Hindle, and Alexander Wong
      (University of Alberta). We gratefully acknowledge their contributions.
    </p>
  
  </address>
</footer>

{% endblock %}
